@using Microsoft.AspNetCore.Identity
@using SharingIsCaring.Areas.Identity.Data
@using SharingIsCaring.Areas.Identity.Pages

@inject UserManager<IdentityUser> UserManager

@model List<SharingIsCaring.Models.Asset>

@{
    List<Asset> assetList = Model.Where(x => x.ActiveInd == false).ToList();
}
<h1 class="d-flex justify-content-center jumbotron">Inactive Assets</h1>
@if (assetList.Where(x => x.OwnerId == UserManager.GetUserId(User)).Count() == 0)
{
    <div class="container text-center">
        <h2>No inactive assets!</h2>
    </div>
}

else
{
    <div class="container">
        <table class="table">
            <tr>
                <th>Brand Name</th>
                <th>Asset Description</th>
                <th>Asset Type</th>
                <th>Serial Number</th>
                <th> </th>
            </tr>

            @foreach (Asset asset in assetList.Where(x => x.OwnerId == UserManager.GetUserId(User)))
            {
                <tr>
                    <td>@asset.BrandId</td>
                    <td>@asset.Description</td>
                    <td>@asset.ItemTypeId</td>
                    <td>@asset.SerialNumber</td>
                    <td>
                        <form asp-controller="Asset" asp-action="ActivateAsset" method="post">
                            <button class="btn-primary" type="submit" name="AssetId" value="@asset.Id">Activate Asset</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
}