@using Microsoft.AspNetCore.Identity
@using SharingIsCaring.Areas.Identity.Data
@using SharingIsCaring.Areas.Identity.Pages

@inject UserManager<IdentityUser> UserManager

@model List<SharingIsCaring.Models.Asset>


<h1 class="d-flex justify-content-center jumbotron">Asset Information</h1>
<br />
<div class="container">
    <h2 class="d-flex justify-content-center">My Assets</h2>
    <table class="table">
        <tr>
            <th>Brand Name</th>
            <th>Asset Description</th>
            <th>Asset Type</th>
            <th>Serial Number</th>
            <th>Checkout Status</th>
        </tr>

        @foreach (Asset asset in Model)
        {
            @if (asset.OwnerId == UserManager.GetUserId(User))
            {

    <tr>
        <td>@asset.BrandId</td>
        <td>@asset.Description</td>
        <td>@asset.ItemTypeId</td>
        <td>@asset.SerialNumber</td>
        @if (!asset.Availabile)
        {
            <td>Checked Out</td>
        }
    </tr>
            }
        }

    </table>
</div>
<br />
<div class="container d-flex justify-content-center btn-group">
    <a class="page-link" asp-controller="Asset" asp-action="Add">Add an asset</a>
    <a class="page-link" asp-controller="Brand" asp-action="Index">View brands</a>
    <a class="page-link" asp-controller="AssetType" asp-action="Index">View asset types</a>
</div>
<br />
<div class="container">
    <h2 class="d-flex justify-content-center">Borrowed Assets</h2>
    <table class="table-bordered">
        <tr>
            <th>Brand Name</th>
            <th>Asset Description</th>
            <th>Asset Type</th>
            <th>Serial Number</th>
            <th>Checkout Date</th>
        </tr>
        @foreach (Asset asset in Model.Where(x => x.BorrowerId == UserManager.GetUserId(User)))
        {
            <tr>
                <td>@asset.BrandId</td>
                <td>@asset.Description</td>
                <td>@asset.ItemTypeId</td>
                <td>@asset.SerialNumber</td>
                <td>@asset.LastTransferDate</td>
            </tr>
        }
    </table>
</div>