@using Microsoft.AspNetCore.Identity
@using SharingIsCaring.Areas.Identity.Data
@using SharingIsCaring.Areas.Identity.Pages

@inject UserManager<IdentityUser> UserManager

@model List<SharingIsCaring.Models.Asset>


<h1 class="d-flex justify-content-center jumbotron">Asset Information</h1>
<br />
<div class="container">
    <h2 class="d-flex justify-content-center">My Active Assets</h2>
    <table class="table">
        <tr>
            <th>Asset Description</th>
            <th>Serial Number</th>
            <th>Status</th>
            <th> </th>
        </tr>

        @foreach (Asset asset in Model.Where(x => x.ActiveInd == true))
        {
            @if (asset.OwnerId == UserManager.GetUserId(User))
            {

    <tr>
        <td>@asset.Description</td>
        <td>@asset.SerialNumber</td>
        @if (!asset.Available)
        {
            <td>
                Checked Out
            </td>
        }
        else
        {
            <td>
                Checked In
            </td>
        }
        <td>
            <form asp-controller="Asset" asp-action="ViewAsset" method="post">
                <button class="btn btn-primary" type="submit" name="AssetId" value="@asset.Id">View</button>
            </form>
        </td>
    </tr>
            }
        }

    </table>
</div>
<br />
<div class="container d-flex justify-content-center btn-group">
    <a class="btn page-link" asp-controller="Asset" asp-action="Add">Add an asset</a> &nbsp;
    <a class="btn page-link" asp-controller="Brand" asp-action="Index">View brands</a> &nbsp;
    <a class="btn page-link" asp-controller="AssetType" asp-action="Index">View asset types</a> &nbsp;
    <a class="btn page-link" asp-controller="Asset" asp-action="InactiveAssets">My Inactive Assets</a>
</div>
<br />
<br />
@if (Model.Where(x => x.BorrowerId == UserManager.GetUserId(User)).Count() == 0)
{
    <div class="container text-center">
        <h2>No borrowed assets!</h2>
    </div>
}

else
{
    <div class="container">
        <h2 class="d-flex justify-content-center">Borrowed Assets</h2>
        <table class="table">
            <tr>
                <th>Asset Description</th>
                <th>Serial Number</th>
                <th>Checkout Date</th>
                <th> </th>
            </tr>
            @foreach (Asset asset in Model.Where(x => x.BorrowerId == UserManager.GetUserId(User)))
            {
                <tr>
                    <td>@asset.Description</td>
                    <td>@asset.SerialNumber</td>
                    <td>@asset.LastTransferDate</td>
                    <td>
                        <form asp-controller="Asset" asp-action="ReturnAsset" method="post">
                            <button class="btn btn-danger" type="submit" name="AssetId" value="@asset.Id">Return Asset</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
}