@model SharingIsCaring.ViewModels.ViewAssetViewModel

<h1 class="d-flex justify-content-center jumbotron">Asset Profile</h1>
<br />
<div class="container">
    <div class="container text-center">
        <h4>Description: @Model.Asset.Description</h4>
        <h4>Brand: @Model.Brand.Name</h4>
        <h4>Asset Type: @Model.AssetType.TypeDescription</h4>
        <br />
        @if (!Model.Asset.Available)
        {
            <h4>Status: Checked Out</h4>
        }
        else
        {
            <h4>Status: Checked In</h4>
        }
    </div>
    <br />
    <div class="container d-flex btn-group justify-content-center">
        <form asp-controller="Asset" asp-action="InactivateAsset" method="post">
            <button class="btn btn-danger" type="submit" name="AssetId" value="@Model.Asset.Id">Inactivate</button>
        </form>
        &nbsp;
        <form asp-controller="Asset" asp-action="ChangeAssetStatus" method="post">
            <button class="btn btn-primary" type="submit" name="AssetId" value="@Model.Asset.Id">Change Status</button>
        </form>
    </div>
</div>
