@using Microsoft.AspNetCore.Identity
@using SharingIsCaring.Areas.Identity.Data
@using SharingIsCaring.Areas.Identity.Pages

@inject UserManager<IdentityUser> UserManager

@model List<SharingIsCaring.Models.TransferRequest>

<h1 class="d-flex justify-content-center jumbotron">Transfers</h1>
<br />
<h2>Pending Transfers</h2>
<div class="d-flex justify-content-center">
    <table class="table">
        <thead>
            <tr>
                <th>Asset</th>
                <th>Expected Return Date</th>
                <th> </th>
            </tr>
        </thead>
        @foreach (TransferRequest transfer in Model.Where(x=>x.OwnerId == UserManager.GetUserId(User)))
        {
            @if (!transfer.Complete)
            {
                <tr>
                    <td>@transfer.AssetId</td>
                    <td>@transfer.ExpectedReturnDate</td>
                    <td>
                        <form asp-controller="TransferRequest" asp-action="ViewPendingTransferRequest" method="post">
                            <button type="submit" name="ViewRequest" value="@transfer.Id">View</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </table>
</div>
<br />
<br />
<h2>Completed Transfers</h2>
<div class="d-flex justify-content-center">
    <table class="table">
        <thead>
            <tr>
                <th>Asset</th>
                <th>Date of Transfer</th>
                <th>Expected Return Date</th>
            </tr>
        </thead>
        @foreach (TransferRequest transfer in Model.Where(x=>x.OwnerId == UserManager.GetUserId(User)))
        {
            @if (transfer.Complete)
            {
                <tr>
                    <td>@transfer.AssetId</td>
                    <td>@transfer.TransferDate</td>
                    <td>@transfer.ExpectedReturnDate</td>
                </tr>
            }
        }
    </table>
</div>
