@model SharingIsCaring.Models.AssetRequest

<h2>Request an Asset</h2>

<form asp-controller="AssetRequest" asp-action="ProcessAssetRequest">
    <div class="form-group">
        <label><strong>Asset</strong></label>
        <input class="form-control" id="assetId" style="max-width:100px" asp-for="@Model.Asset" value="@Model.Asset.Id" />
        <span asp-validation-for="@Model.Asset"></span>
    </div>
    <div class="form-group">
        <label><strong>Subject</strong></label>
        <input class="form-control" id="requestSubject" style="max-width:800px" asp-for="@Model.Subject" />
        <span asp-validation-for="@Model.Subject"></span>
    </div>
    <div class="form-group">
        <label><strong>Details</strong></label>
        <input class="form-control" id="requestBody" style="max-width:800px; height: auto" asp-for="@Model.Body" />
    </div>
    <div class="form-group">
        <label><strong>Checkout Date:</strong></label>
        <input class="form-control" id="checkoutDate" style="max-width: 300px" type="date" asp-for="@Model.FromDate" />
        <span asp-validation-for="@Model.ToDate"></span>
    </div>
    <div class="form-group">
        <label><strong>Return Date:</strong></label>
        <input class="form-control" id="returnDate" style="max-width: 300px" type="date" asp-for="@Model.ToDate" />
        <span asp-validation-for="@Model.FromDate"></span>
    </div>
    <input type="submit" />
</form>